* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	font-family: "Mukta", sans-serif;
}
.player {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 320px;
	height: 576px;
	overflow: hidden;
	border-radius: 5px;
}
.player .main {
	width: 100%;
	height: 100%;
	background: rgb(51, 51, 51);
	transition: all 0.5s ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.player .main .thumbnail {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 320px;
}
.player .main .thumbnail i.fa-music {
	color: rgb(224, 224, 224);
	font-size: 5em;
	background: linear-gradient(to right, rgb(170, 170, 170), rgb(117, 117, 117));
	padding: 0.6em;
	border-radius: 50%;
}
.player .main .thumbnail img {
	display: none;
	height: 60%;
	width: 60%;
	border-radius: 50%;
	object-fit: cover;
	box-shadow: 2px 4px 10px -2px #000;
}
.player .main .thumbnail i.fa-music.active {
	display: none;
}
.player .main .thumbnail img.active {
	display: block;
}
.player .main .seekbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: -15px;
	padding: 0 0.5em;
}
.player .main .seekbar #seekbar {
	-webkit-appearance: none;
	width: 50%;
	height: 4px;
	outline: none;
	background: #aaa;
}
.player .main .seekbar input[type="range"]::-webkit-slider-thumb,
.player .main .seekbar input[type="range"]::-moz-slider-thumb {
	-webkit-appearance: none;
	width: 22px;
	height: 22px;
	background: #153ab4;
	border-radius: 50%;
	box-shadow: 0.1px 8px 8px 2px rgba(0, 0, 0, 0.2) inset,
		0.1px 8px 8px 2px rgba(0, 0, 0, 0.2);
}
.player .main .seekbar .current-time,
.player .main .seekbar .full-time {
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 0.1em;
	padding: 1em;
}
.player .main .details {
	text-align: center;
	padding: 15px 0;
}
.player .main .details h2 {
	font-size: 18px;
	color: #fff;
}
.player .main .details p {
	font-size: 15px;
	color: #fff;
}
.player .main .controls {
	display: flex;
	justify-content: space-around;
	margin: 20px 0;
}
.player .main .controls > div {
	margin: 0 30px;
	cursor: pointer;
}
.player .main .controls i.fa {
	font-size: 25px;
	color: #fff;
	padding: 0.6em;
	box-shadow: 0.1px 8px 8px 2px rgba(0, 0, 0, 0.2) inset,
		0.1px 8px 8px 2px rgba(0, 0, 0, 0.205);
	background: transparent;
	border-radius: 50%;
	transition: all 0.3s ease;
}
.player .main .controls i.fa:hover {
	background: #1033a6c4;
}
.player .main .controls > div.play-pause-control i.fa {
	background: #1033a6c4;
	border-radius: 50%;
}
.player .main .controls > div.play-pause-control i.fa-play {
	display: none;
}
.player .main .controls > div.play-pause-control.paused i.fa-play {
	display: block;
}
.player .main .controls > div.play-pause-control.paused i.fa-pause {
	display: none;
}

.player .player-list {
	position: absolute;
	width: 100%;
	height: 350px;
	margin-top: -20px;
	overflow-y: scroll;
	background: rgba(51, 51, 51, 0.815);
	z-index: 2;
	transition: all 0.5s ease-in-out;
	display: flex;
	flex-direction: column;
	justify-items: center;
}
.player-list h2 {
	text-align: center;
	color: #fff;
	font-size: 30px;
	padding: 15px 5px 0 5px;
}
.player .player-list .toggle-list {
	position: sticky;
	top: 0;
	text-align: center;
	height: 20px;
	line-height: 20px;
	background: #555;
	cursor: pointer;
	transition: 0.5s ease-in-out;
	width: 100%;
}
.player .player-list .toggle-list i.fa {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
}
.player .player-list .toggle-list i.fa-angle-down {
	display: none;
}
.player .player-list .toggle-list.active i.fa-angle-up {
	display: none;
}
.player .player-list .toggle-list.active i.fa-angle-down {
	display: block;
}
.player .list {
	padding: 10px;
}
.player .list .item {
	display: flex;
	align-items: center;
	padding: .5em;
	cursor: pointer;
	border-radius: 10px;
	margin: 8px 0;
	box-shadow: 0.3px 0.7px 1px rgba(255, 255, 255, 0.205);
	transition: 0.3s ease;
}
.player .list .item:hover {
	background: rgba(87, 87, 87, 0.274);
}
.player .list .item.active > .details h2,
.player .list .item.active > .details p {
	color: rgb(26, 111, 221);
	font-weight: bold;
}
.player .list .item .thumbnail {
	width: 50px;
	height: 50px;
}
.player .list .item .thumbnail img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	object-fit: cover;
}
.player .list .item .details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 10px ;
}
.player .list .item .details h2 {
	color: #fff;
	font-size: 16px;
	text-align: left;
}
.player .list .item .details p {
	color: #aaa;
	font-size: 15px;
}
.player .player-list::-webkit-scrollbar {
	width: 5px;
	background: #222;
}
.player .player-list::-webkit-scrollbar-thumb {
	background: #1033a6d7;
}
.player .player-list::-moz-scrollbar-thumb {
	background: #1033a6d7;
}
.player.activeSongList .player-list {
	margin-top: -350px;
}
.player.activeSongList .main {
	filter: blur(5px);
}
@media screen and (min-width: 768px) {
	body {
		background: rgb(51, 51, 51);
	}
	.player {
		width: 90%;
		height: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
		border-radius: 10px;
	}
	.player .main {
		height: 100%;
		align-self: center;
	}
	.player-list {
		padding-top: 2em;
	}
	.player .list .item .details {
		padding: 0 1.5em;
	}
	.player .list .item .details h2 {
		color: #fff;
		font-size: 16px;
		text-align: left;
	}
	.player .list .item .details p {
		color: #aaa;
		font-size: 15px;
	}
	.player .player-list {
		position: relative;
		margin: 0;
		height: 100%;
		background: rgb(51, 51, 51);
		margin-left: 10px;
	}
	.player .player-list .toggle-list {
		display: none;
	}
	.player .main .thumbnail img {
		height: 55%;
		width: 270px;
		border-radius: 5px;
		object-fit: cover;
	}
	.player .main .thumbnail i.fa-music {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.player .main .seekbar {
		margin: 15px;
		justify-content: space-evenly;
	}
}
@media screen and (min-width: 1200px) {
	body {
		background: rgb(51, 51, 51);
	}
	.player {
		width: 95%;
		height: 580px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		border-radius: 10px;
	}
	.player .main {
		height: 60%;
		align-self: center;
	}
	.player-list .item {
		width: 80%;
	}
	.player .main .thumbnail img {
		height: 80%;
		width: 270px;
		border-radius: 5px;
	}
	.player .main .thumbnail i.fa-music {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.player .main .seekbar {
		margin: 15px;
	}
	.player .player-list {
		position: relative;
		margin: 0;
		height: 100%;
		background: rgb(51, 51, 51);
	}
	.player .player-list .toggle-list {
		display: none;
	}
}
